@import '../../style/extend';
@import '../../style/mixin';

// TODO GTB-知识点: + sass语法正确使用
.trainer-list {
  @extend %member-list;

  li {
    position: relative;
    @extend %member-item;

    .delete-btn {
      display: none;
      @extend %delete-btn;
      @include operate-btn;
      z-index: 10;
    }

    &:hover > .delete-btn,
    .delete-btn:hover {
      display: inline-block;
    }
  }
}
// TODO GTB-工程实践: - 因为没有提前公用组件导致重复CSS (eg .add-trainee-btn)
.add-trainer-btn {
  @extend %add-btn;
}

.add-trainer-input {
  @extend %add-input;
}
