@import 'variables';

%add-btn {
  padding: 10px 15px;
  margin-left: 10px;
  height: fit-content;
  background-color: #fff;
  border: 1px solid $gray;
}

%member-item {
  width: 75px;
  padding: 12px 20px;
  margin: 0 10px;
  text-align: center;
  background-color: $light-gray;
}
